spring:
  application:
    name: xeine

  datasource:
    url: jdbc:mysql://localhost:3306/xeine_db?useSSL=false&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: YOUR_GOOGLE_CLIENT_ID
            client-secret: YOUR_GOOGLE_CLIENT_SECRET
            scope:
              - email
              - profile
            redirect-uri: http://localhost:8080/login/oauth2/code/google
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://www.googleapis.com/oauth2/v4/token
            company-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            company-name-attribute: sub

server:
  port: 8080

jwt:
  secret: YOUR_JWT_SECRET_KEY
  expiration: 120000 # 2 minutes
  refresh:
    expiration: 604800000 # 7 days

cookie:
  access:
    name: access_token
  refresh:
    name: refresh_token

logging:
  level:
    org:
      springframework:
        security: DEBUG

twilio:
  account_sid: YOUR_TWILIO_ACCOUNT_SID
  auth_token: YOUR_TWILIO_AUTH_TOKEN
  phone_number: YOUR_TWILIO_PHONE_NUMBER

